<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/base.css">
	{% block head %}{% endblock %}
	<title>{% block title %}{% endblock %} - Justin Lee</title>
	</title>
</head>
<body>
	<header>
		<code>justin@debian:~$ ls</code>
		<nav>
			<ul style="list-style-type: none; display: flex; gap: 1rem; margin: 0; padding: 0;">
				<li>
					<a href="/">/home</a>
				</li>
				<li>
					<a href="/imgs">/imgs</a>
				</li>
				<li>
					<a href="/logs">/logs</a>
				</li>
				<li>
					<a href="/etc">/etc</a>
				</li>
				<li>
					<a href="/pubkey">/pubkey</a>
				</li>
			</ul>
		</nav>
	</header>
	<main>
		{% block main %}
		{% endblock %}
	</main>
	<footer>
	</footer>
</body>
</html>
