{% extends "layouts/base.html" %}
{% block title %}books{% endblock %}
{% block main %}
<section>
  <code>
    <samp>justin@website:~$</samp>
    <kbd>ls books/</kbd>
  </code>
</section>
<section>
  <h2>currently reading</h2>
  <ul>
    <li>a little life — hanya yanagihara</li>
    <li>deep learning for coders with fastai and pytorch: ai applications without a phd — jeremy howard, sylvain gugger</li>
  </ul>
</section>
<section>
  <h2>2026</h2>
  <ul>
    <li>as a man thinketh — james allen</li>
    <li>think and grow rich — napoleon hill</li>
    <li>the easy way to quit smoking — allen carr</li>
    <li>divergent — veronica roth</li>
  </ul>
</section>
{% endblock %}
