{% extends "layouts/base.html" %}
{% block title %}etc{% endblock %}
{% block main %}
<section>
	<code>
		<samp>justin@website:~$</samp>
		<kbd>cat readme.txt</kbd>
	</code>
	<dl>
		<div>
			<dt>backgrounxd</dt>
			<dd>grew up in fredericton, nb. studied at university of new brunswick — software engineering, hardest program by credit count. wanted to study music but you know how it is. spent a lot of time fishing, playing hockey and soccer. got injured bad so started reffing instead. played guitar for years — bluegrass, had a band, did a lot of busking. good times. learning piano now but life gets in the way.</dd>
		</div>
		<div>
			<dt>setup</dt>
			<dd>vscode, monochrome theme, vim extension. no color coding, nothing fancy.</dd>
		</div>
		<div>
			<dt>music</dt>
			<dd>mac ayres, daniel caesar, d'angelo, erykah badu, j dilla, a tribe called quest, nas, lauryn hill, miles davis, john coltrane. old school hip hop, neo soul, jazz, r&b.</dd>
		</div>
		<div>
			<dt>movies</dt>
			<dd>older films mostly. kill bill, schindler's list. always looking for good ones.</dd>
		</div>
		<div>
			<dt>games</dt>
			<dd>expedition 33, digimon story time stranger, resident evil 2, half life series, chrono trigger, final fantasy vi, dark soul, elden ring, persona 5, dark souls, black myth wukong, prey, mostly single player, but play a lot of everything.</dd>
		</div>
	</dl>
</section>
{% endblock %}
