<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/main.css">
	<title>Document</title>
</head>
<body>
	<h1>hello world</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus distinctio suscipit eaque iure minima? Unde rem perferendis, error similique repellat neque praesentium. Pariatur nesciunt dignissimos voluptatibus molestiae nemo, consequatur fuga.</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque beatae molestias incidunt quidem porro repellendus ullam, culpa, velit accusamus consequuntur maxime recusandae doloremque natus minus dolor deleniti, fugit rem amet!</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, nihil? Error dolore a atque eaque quam mollitia, quas velit voluptates similique praesentium, dignissimos, at quisquam alias consequatur earum blanditiis porro.</p>
</body>
</html>
